@using ViewModel.MailSeting
@model ViewModel.MailSeting.MailRequestVM

@{
    ViewData["Title"] = "Send Email";
}

<h2>Send Email</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="SendMail" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ToEmail" class="control-label"></label>
                <input asp-for="ToEmail" class="form-control" />
                <span asp-validation-for="ToEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input type="file" asp-for="Attachments" class="form-control" multiple />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
         @Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
